.index-container {
}

    .index-container .content {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 0 15%;
    }

.subjects {
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 20px;
    padding: 20px 20px;
    box-sizing: border-box;
    background: #22223B;
}

.button-padding {
    padding: 0 20px;
}

@media (max-width: 800px) {
    .index-container .content {
        padding: 0 5%;
    }
}
