.index-container {
}

    .index-container .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 15%;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

.subjects {
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 20px;
    background: #22223B;
}

@media (max-width: 800px) {
    .index-container .content {
        padding: 0 5%;
    }
}
