.index-container {
    .content {
        display: flex;
        flex-direction: column;
        padding: 0 15%;
        padding-bottom: 100px;

        .subjects {
            display: grid;
            grid-auto-rows: auto;
            grid-row-gap: 20px;
            padding: 20px;
            box-sizing: border-box;
            background: #22223B;

            .rating {
                display: none;
                place-self: center;
                font-size: 56px;
                font-weight: 500;
                color: #ffffff;
            }
        }

        .button-padding {
            padding: 0 20px;
        }
    }
}

@media (max-width: 800px) {
    .index-container {
        .content {
            padding: 0 5%;
            padding-bottom: 100px;
        }
    }
}
