@page "/"
@inject ICalculationService calc

<div class="index-container">
    <div class="content">
        <div class="subjects">
            @foreach (Subject subject in Subjects)
            {
                <SubjectEntry @key=subject
                              Subject=subject
                              RemoveCallback=@RemoveSubject
                              OnChange=@(() => calc.CalculateRating(Subjects))>
                </SubjectEntry>
            }
        </div>
        @if (Subjects.Count < 10)
        {
            <Button Text="Додати предмет" OnClick=AddSubject></Button>
        }
    </div>
</div>

@code {
    List<Subject> Subjects { get; set; } = new();

    private void AddSubject()
    {
        Subject newSubject = new Subject();
        Subjects.Add(newSubject);
    }

    private void RemoveSubject(Subject subject)
    {
        Subjects.Remove(subject);
        calc.CalculateRating(Subjects);
    }
}