.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #484878;
    transition: 0.2s;
    width: 100%;
    height: 100px;
    border: solid 3px #6A6AAD;
    border-radius: 15px;
    user-select: none;
}

    .button .text {
        font-weight: 600;
        font-size: 42px;
        color: #ffffff;
    }

    .button:hover {
        background: #333356;
        transition: 0.2s;
    }
