.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    width: 100%;
    background: var(--surface);

    .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        position: absolute;
        font-size: 56px;
        color: var(--on-surface);
    }

    .hamburger {
        display: none;
        font-size: 35px;
        margin-right: 10px;
        width: fit-content;
        height: fit-content;
        z-index: 2;
        border: none;
        outline: none;
        color: var(--on-surface);
        background: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 40px;
        box-sizing: border-box;
        height: 100px;
        padding-right: 25px;
        margin-left: auto;

        a {
            display: flex;
            text-decoration: none;
        }

        img {
            width: fit-content;
            height: 35px;
            user-select: none;
        }

        ul {
            list-style: none;
        }

        i {
            font-size: 35px;
        }

        .menu-item {
            position: relative;
            color: var(--on-surface);
        }

        .menu-text {
            display: none;
            font-size: 24px;
        }

        .dropdown {
            position: absolute;
            right: 10px;
            z-index: 1;
            visibility: hidden;
            opacity: 0;
            transform: scale(0.97) translateY(10px);
            transition: 0.1s ease-in-out;

            .dropdown-content {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 15px;
                min-width: fit-content;
                color: var(--primary-container-text);
                background-color: var(--primary-container);
                border-radius: 10px;
                border: solid 3px var(--primary-container-border);

                ul {
                    user-select: none;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    font-size: 18px;

                    li {
                        padding-right: 10px;
                        padding-left: 10px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        white-space: nowrap;

                        &:first-child {
                            border-radius: 10px 10px 0 0;
                            padding-top: 10px;
                        }

                        &:last-child {
                            border-radius: 0 0 10px 10px;
                            padding-bottom: 10px;
                        }

                        &:hover {
                            background: var(--primary-container-hover);
                        }
                    }
                }
            }
        }

        .dropdown-btn {
            &:hover .dropdown {
                visibility: visible;
                opacity: 1;
                transform: scale(1) translateY(-5px);
            }
        }
    }
}

@media (max-width: 800px) {
    .header {
        height: 60px;
        min-height: 60px;
        display: flex;
        flex-direction: column;

        .rating {
            z-index: 3;
            font-size: 40px;
        }

        .hamburger {
            display: block;
            align-self: end;
            height: 100%;
        }

        .menu {
            display: flex;
            transition: 0.4s;
            transform: translateY(calc(-100% - 60px));
            flex-direction: column;
            height: fit-content;
            justify-content: start;
            align-items: center;
            position: absolute;
            top: 59px;
            z-index: 1;
            width: 100%;
            gap: 5px;
            margin: 0;
            padding: 0;
            background: var(--surface);
            visibility: hidden;
            opacity: 0;

            a {
                flex-direction: row;
                color: var(--on-surface);
            }

            .menu-item {
                align-items: center;
                width: 100%;
                padding-top: 5px;
                padding-bottom: 5px;

                > *:not(.dropdown) {
                    margin-left: 10px;
                }

                &:hover:not(:has(.dropdown:hover)) {
                    background: var(--surface-hover);
                }
            }

            .menu-text {
                display: block;
            }

            .menu-icon {
                display: none;
            }

            .dropdown {
                display: none;
                transform: scale(1) translateY(0);
                visibility: visible;
                opacity: 1;
                min-width: 100%;
                border-radius: 5px;
                position: static;
                -webkit-tap-highlight-color: transparent;

                .dropdown-content {
                    border: none;
                    margin: 0;
                    background: var(--on-surface-dropdown);
                    border-radius: 0;

                    ul li {
                        border-radius: 0 !important;
                        display: flex;
                        justify-content: start;
                    }
                }
            }

            &.show {
                visibility: visible;
                opacity: 1;
                transition: 0.4s;
                transform: translateY(0);
            }

            .dropdown-btn {
                &:hover {
                    .dropdown {
                        transform: none;
                    }
                }

                &.show {
                    .dropdown {
                        display: block;
                        padding-top: 5px;
                    }

                    &.menu-item {
                        padding-bottom: 0px;
                    }

                    .menu-text {
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
}
