.number-of {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
}

.input-number {
    height: 100%;
    padding: 0 14px;
    background: #E3E2E2;
    border: solid 3px #484878;
    border-radius: 15px;
    color: #22223B;
    font-size: 30px;
    transition: 0.3s;
}

    .input-number:focus {
        outline: none;
    }

    .input-number::-webkit-inner-spin-button,
    .input-number::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.error .input-number {
    background: #e6c6c6;
    border: solid 3px #ab2222;
    transition: 0.3s;
}

.error .up i,
.error .down i {
    color: #ab2222;
}

.up {
    top: 5px;
}

.down {
    bottom: 5px;
}

.up, .down {
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 13px;
}

i {
    color: #484878;
    font-size: 36px;
}
