.numeric-up-down {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .input-number {
        width: 100%;
        height: 100%;
        padding: 0 8px;
        background: #E3E2E2;
        border: solid 3px #484878;
        border-radius: 10px;
        color: #22223B;
        font-size: 26px;
        transition: 0.3s;

        &:focus {
            outline: none;
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .up {
        top: 3px;
    }

    .down {
        bottom: 3px;
    }

    .up, .down {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 8px;
    }

    i {
        color: #484878;
        font-size: 24px;
    }
}

.error {
    .input-number {
        background: #e6c6c6;
        border: solid 3px #ab2222;
        transition: 0.3s;
    }

    .up i,
    .down i {
        color: #ab2222;
    }
}