.subject-name {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.input-text {
    width: 100%;
    height: 100%;
    padding: 0 14px;
    background: #E3E2E2;
    border: solid 3px #484878;
    border-radius: 15px;
    color: #22223B;
    font-size: 30px;
}

    .input-text:focus {
        outline: none;
    }
