.subject-score {
    display: grid;
    grid-template-columns: 3fr repeat(2, minmax(0, 1fr));
    grid-template-rows: 50px;
    grid-template-areas: "name credit score";
    grid-column-gap: 20px;
    box-sizing: border-box;
    position: relative;
}

@media (max-width: 1000) {
    .subject-score {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr)) 50px;
        grid-template-rows: 50px;
        grid-template-areas:
            "name name name name"
            "credit score remove";
        grid-column-gap: 20px;
        box-sizing: border-box;
        background: red;
        position: initial;
    }

    .crutch {
        display: none;
    }

    .item-remove {
        grid-area: remove;
    }
}

.item-subject-name {
    grid-area: name;
}


.item-credit {
    grid-area: credit;
}


.item-score {
    grid-area: score;
}

.subject-add {
    animation: movedown 0.4s normal linear;
}

.subject-remove {
    animation: movedown 0.2s reverse forwards linear 1;
}

.subject-score:hover .remove-btn {
    opacity: 1;
    right: -70px;
    transition: opacity 0.2s, right 0.2s;
}

.remove-btn {
    display: flex;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 50px;
    background: #c30808;
    border: solid 3px #d34e4e;
    border-radius: 15px;
    color: #ffffff;
    right: -50px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

    .remove-btn:hover {
        background: #a30808;
        transition: 0.2s;
    }

@keyframes movedown {
    from {
        max-height: 0;
        transform: translateY(-25px);
        opacity: 0;
    }

    to {
        max-height: 200px;
        transform: translateY(0);
        opacity: 1;
    }
}

.crutch {
    position: absolute;
    height: 100%;
    width: 25px;
    right: -25px;
    opacity: 0;
}
