.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
}

    .container .title {
        font-weight: 600;
        font-size: 24px;
        color: #ffffff;
    }

    .container .input-field {
        height: 75px;
        padding: 0 14px;
        background: #E3E2E2;
        border: solid 3px #484878;
        border-radius: 15px;
        color: #22223B;
        font-size: 30px;
    }

    .container input[type=text]:focus {
        outline: none;
    }
