* {
    margin: 0;
    padding: 0;
    font-family: Rubik;
    box-sizing: border-box;
}

html, body, #app {
    min-height: 100%;
    height: 100%;
}
    
body {
    background: #22223B;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-variable-font_wght.ttf');
}
