@inherits LayoutComponentBase
@inject ICalculationService calc
@inject IExportService export

<div class="container">
    <Header>
    </Header>

    <main>
        @Body
    </main>
</div>

@code {

}