@inherits LayoutComponentBase

<div class="container">
    <header class="header">
        <div @ref=MenuElem class="menu">
            <div class="menu-item svg">
                <a href="https://github.com/Yobibyters/Studbook" target="_blank">
                    <img src="/assets/github.svg" />
                    <div class="menu-text">Репозиторій</div>
                </a>
            </div>

            <div class="menu-item svg">
                <a href="https://pilot.khai.edu/pilot/checkstudent_link.html" target="_blank">
                    <img src="/assets/pilot.svg" />
                    <div class="menu-text">Система "PILOT"</div>
                </a>
            </div>

            <div class="menu-item icon">
                <i class="ph ph-download-simple"></i>
                <div class="menu-text">Імпорт</div>
            </div>

            <div class="menu-item icon dropdown-btn">
                <i class="ph ph-upload-simple"></i>
                <div class="menu-text">Експорт</div>
                <div class="dropdown">
                    <div class="dropdown-content">
                        <ul>
                            <li>
                                Скопіювати в буфер обміну
                            </li>
                            <li>
                                XLSX
                            </li>
                            <li>
                                PNG
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button @ref=HamburgerElem class="hamburger">
            <i class="ph ph-list"></i>
        </button>
    </header>

    <main>
        @Body
    </main>
</div>

@code {
    [Inject]
    IJSRuntime js { get; set; } = null!;
    IJSObjectReference jsModule = null!;

    ElementReference HamburgerElem;
    ElementReference MenuElem;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await js.InvokeAsync<IJSObjectReference>("import", "./MainLayout.razor.js");
            await jsModule.InvokeVoidAsync("MainLayout.Init", HamburgerElem, MenuElem);
        }
    }
}