@inherits LayoutComponentBase

<header class="header">
    <div class="github">
        <a href="https://github.com/Yobibyters/Studbook" target=”_blank”>
            <img src="/assets/github.svg" />
        </a>
    </div>
    <div class="pilot">
        <a href="https://pilot.khai.edu/pilot/checkstudent_link.html" target=”_blank”>
            <img src="/assets/pilot.svg" />
        </a>
    </div>
    <div class="import">
        <i class="ph ph-download-simple"></i>
    </div>
    <div class="export">
        <i class="ph ph-upload-simple"></i>
    </div>
</header>
<main>
    @Body
</main>
